*.log
.DS_Store
node_modules
dist
archive/*

# dependencies
.pnp
.pnp.js

# testing
coverage

# build
.turbo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
*.pem
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Claude AI
.claude/settings.local.json
.claude/agents/*
.claude/commands/*
.ai/*

.obsidian/
