<div>
	<% if( requests.length > 0 ) { %>
	<div>
		<h4>Search Requests <% if( sessionId === ownerId ) { %>(click one to give control to the requester)<% } %></h4>
	</div>
	<% _.each( requests, function ( request, idx ) { %>
	<div>(Client ID: <%= request.correlationId %>) -
		<% if( sessionId === ownerId ) { %>
		<a class="req-allow" href="<%= idx %>"><%= request.searchTerm %></a>
		<% } else { %>
		<%= request.searchTerm %>
		<% } %>
	</div>
	<% }) %>
	<% } else { %>
	<div><em>No other searches have been requested at this time.</em></div>
	<% } %>
</div>